<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>你的性别</h1>
      <h3>你的选择是：{{gender}}</h3>
      <select v-model="gender">
        <option value="男">男</option>
        <option value="女">女</option>
      </select>

      <hr />
      <h2>选择技术栈</h2>
      <select v-model="checks" multiple>
        <option value="Spring">Spring</option>
        <option value="Vue">Vue</option>
        <option value="Boot">Boot</option>
      </select>
      <h2>{{checks}}</h2>
      <input type="file" multiple />
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            gender: '男',
            checks: [],
          }
        },
        methods: {},
      })
      app.mount('#app')
    </script>
  </body>
</html>
